
<h3>Create a New Task</h3>

<div class="row">
  <div class="col s12">
    <form action="/tasks" method="POST">
      <input type="text" id="name" name="task_name" placeholder="A New Task">
      <button type="submit" class="addTask">Add The Task</button>
    </form>
  </div>
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each tasks}}
          {{#unless this.completed}}
            <div>
              <form action="/tasks/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='newTask'> {{this.task_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        {{#each tasks}}
          {{#if this.completed}}
            <div class='taskCompleted'>
              <div>
                {{this.task_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>