<main class="no-padding no-pad-top taskmain">
  <div class="container start-splash-container row">
    <div class="col s12 center-align">
    <h5 class="createtasks red lighten-4">Create A New Task!</h5>
      <div class="row">
          <div class="col s12 main-font">
              <form action="/tasks" method="POST">
                <input type="text" id="name" name="task_name" placeholder="A New Task" class="main-font">
                <button type="submit" class="addTaskButton main-font">Submit</button>
              </form>
          </div>
      </div>
    </div>
  </div>

<div class="container start-splash-container row">
  <div class="row">
    <div class="col s6 tasklist">To Do
      {{#each task}} {{!--burger--}}
        {{#unless this.completed}} {{!--devoured--}} 
          <div>
            <form action="/tasks/{{this.id}}?_method=PUT" method="POST"> {{!--burgers---}}
              <button type="submit" class='taskAvailable'> {{this.task_name}}</button>
            </form>
          </div>
        {{/unless}}
      {{/each}}
    </div>

    <div class="col s6 tasklist"> Completed!
      {{#each task}} {{!--burger---}}
        {{#if this.completed}} {{!--devoured---}}
          <div class='taskCompleted'>
            <div>
              {{this.task_name}} {{!--burger_name---}}
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
</main>